@media (min-width: 200px) {
  .biniHome .phoneSide {
    display: none;
  }
}



@media (min-width: 450px) {
  .biniHome {
    height: 100%;
  }
  .biniHome .infoSide {
    margin-top: 20%;
  }
  .biniHome .infoSide .biniLinks a{
    font-size: 1.2em;
  }
  .biniHome .infoSide .socialNetworks li a{
    font-size: 19pt;
    margin-left: 5px;
  }
  .biniHome .phoneSide {
    display: none;
  }
  .biniHome .phoneSide {
    display: none;
  }
  header {
    height: 100px;
    }

    header .headerLogos {
        margin-top: 2%;
    }

    header .logoLeft {
        text-align: left;
        display: inline-block;
        float: left;
    }

    header .logoMiddle {
        display: none;
    }

    header .appStoreImg {
        text-align: right;
        cursor: pointer;
        display: inline-block;
        float: right;
    } 
}






@media (min-width: 768px) {
  .biniHome .infoSide {
    margin-top: 20%;
  }
  .biniHome .infoSide h1 {
    font-size: 3rem;
  }
  .biniHome .infoSide .biniLinks a{
    font-size: 1.2em;
  }
  .biniHome .infoSide .socialNetworks li a{
    font-size: 18pt;
  }
  .biniHome .infoSide .copyRight p{
    font-size: 9pt;
  }

  .biniHome .phoneSide {
    display: none;
  }
  header {
    height: 100px;
    }

    header .headerLogos {
        margin-top: 2%;
    }

    header .logoLeft {
        text-align: left;
        display: inline-block;
        float: left;
    }

    header .logoMiddle {
        display: none;
    }

    header .appStoreImg {
        text-align: right;
        cursor: pointer;
        display: inline-block;
        float: right;
    } 
}

@media (min-width: 992px) {
  .biniHome {
    min-height: 805px;
    background-image: url("../images/background-02.png");
    background-size: cover;
    background-color: #000000;
  }
  .biniHome .infoSide {
    text-align: center;
    margin-top: 15%;
  }
  .biniHome .infoSide img:first-child{
    width: 182px;
    height: 125px;
  }
  .biniHome .infoSide h1 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.4em;
  }
  .biniHome .infoSide img:last-child{
    width: 258px;
    height: 76px;
    margin-top: 30px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks{
    color: #ffffff;
    margin-left: -43px;
  }
  .biniHome .infoSide .biniLinks img:first-child{
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks li{
    list-style: none;
    display: inline-block;
  }
  .biniHome .infoSide .biniLinks a{
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    font-size: 1.1em;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks a:hover{
    color: #3BCAAE;
  }
  .biniHome .infoSide .socialNetworks{
    margin-left: -43px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .biniHome .infoSide .socialNetworks li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .biniHome .infoSide .socialNetworks li a{
    font-size: 16pt;
    color: #3BCAAE;
    top: 0.5rem;
    bottom: -3rem;
    padding: 3px;
    cursor: pointer;
  }
  .biniHome .infoSide .copyRight p{
    font-size: 8pt;
    color: #D3D3D3;
  }
  .biniHome .phoneSide {
    display: initial;
  }
  header {
    height: 100px;
    }

    header .headerLogos {
        margin-top: 1.1%;
    }

    header .logoLeft {
        text-align: left;
        display: inline-block;
        float: left;
    }

    header .logoMiddle {
        display: initial;
    }

    header .appStoreImg {
        text-align: right;
        cursor: pointer;
        display: inline-block;
        float: right;
    } 
}

@media (min-width: 1440px) {
  .biniHome {
    min-height: 805px;
    background-image: url("../images/background-02.png");
    background-size: cover;
    background-color: #000000;
  }
  .biniHome .infoSide {
    text-align: center;
    margin-top: 15%;
  }
  .biniHome .infoSide img:first-child{
    width: 182px;
    height: 125px;
  }
  .biniHome .infoSide h1 {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.4em;
  }
  .biniHome .infoSide img:last-child{
    width: 258px;
    height: 76px;
    margin-top: 30px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks{
    color: #ffffff;
    margin-left: -43px;
  }
  .biniHome .infoSide .biniLinks img:first-child{
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks li{
    list-style: none;
    display: inline-block;
  }
  .biniHome .infoSide .biniLinks a{
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    font-size: 1.1em;
    cursor: pointer;
  }
  .biniHome .infoSide .biniLinks a:hover{
    color: #3BCAAE;
  }
  .biniHome .infoSide .socialNetworks{
    margin-left: -43px;
    margin-top: -25px;
    margin-bottom: 30px;
  }
  .biniHome .infoSide .socialNetworks li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  .biniHome .infoSide .socialNetworks li a{
    font-size: 16pt;
    color: #3BCAAE;
    top: 0.5rem;
    bottom: -3rem;
    padding: 3px;
    cursor: pointer;
  }
  .biniHome .infoSide .copyRight p{
    font-size: 8pt;
    color: #D3D3D3;
  }
  .biniHome .phoneSide {
    display: initial;
  }
  header {
    height: 100px;
    }

    header .headerLogos {
        margin-top: 1.1%;
    }

    header .logoLeft {
        text-align: left;
        display: inline-block;
        float: left;
    }

    header .logoMiddle {
        display: initial;
    }

    header .appStoreImg {
        text-align: right;
        cursor: pointer;
        display: inline-block;
        float: right;
    } 
}
